# Apache vhost for Zabbix
# This file is managed by Ansible. Any manual changes will be reverted.

<VirtualHost *:80>
  ServerName {{ zabbix_web_url }}

  ## Vhost docroot
  DocumentRoot "/usr/share/zabbix"

  ## Directories, there should at least be a declaration for /usr/share/zabbix

  <Directory "/usr/share/zabbix">
    Options Indexes FollowSymLinks MultiViews
    AllowOverride None
    Require all granted
  </Directory>

  ## Logging
  ErrorLog "/var/log/httpd/{{ zabbix_web_url }}_nonssl_error.log"
  ServerSignature Off
  CustomLog "/var/log/httpd/{{ zabbix_web_url }}_nonssl_access.log" combined
  ## Rewrite rules
  RewriteEngine On

  #redirect all to https
  RewriteCond %{SERVER_PORT} !^443$
  RewriteRule ^/(.*)$ https://{{ zabbix_web_url }}/$1 [L,R]

</VirtualHost>
